// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 1em;
}

time {
  display: block;
  color: #888;
  font-size: 0.8em;
}
