<!DOCTYPE html>
<html>
  <head>
    <title>Shoemaker-React-Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  </head>

  <body>

    <div class="right">
      <% if user_signed_in? %>
        Welcome <%= link_to current_user.display_name, profile_path %>,
        <%= link_to "logout", destroy_user_session_path, method: 'DELETE' %>
      <% else %>
        Please
          <%= link_to "login", new_user_session_path %>
          or
          <%= link_to "signup", new_user_registration_path %>
      <% end %>
    </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
